
*{
    margin:0px;
    border:0px;
    background-color: #eee;
}
#login{
    width:32%;
    height:270px;
    position: fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    margin: auto;
}

.input-login{
    width:100%;
    height:30px;
    border-bottom: 1px solid brown;
    color:brown;
}
.input-login:{
    border:5px;
}
legend{
    text-align: center;
}
#submit{
    margin-top: 10px;
    width:90%;
    height:30px;
    background-color: #000;
    color:#fff;
}
#submit:hover{
    color:#fff;
}
a{
    text-decoration: none;
}

#ads-left{
    height:500px;
    width:20%;
    position: fixed;
    left:0px;
    top:0px;
    bottom:0px;
    margin:auto;
}
#ads-right{
    height:500px;
    width:20%;
    position: fixed;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
}
#top {
    width:100%;
    height:50%;
}
#bottom {
    width:100%;
    height:50%;
}